{% extends "add_row.html" %}

{% block rows %} 
<div class="row py-1">
    <div class="col"></div>
    <div class="col-9 col-lg-9 bg-light py-3 border">
        Water Can 1 <button type="button" class="btn btn-warning float-end">Delete</button> </br>
        <div class="date-stamp">Date: 14th Aug, 2024</div>
    </div>
    <div class="col"></div>
</div>
<div class="row py-1">
    <div class="col"></div>
    <div class="col-9 col-lg-9 bg-light py-3 border">
        Water Can 2 <button type="button" class="btn btn-warning float-end">Delete</button> </br>
        <div class="date-stamp">Date: 13th Aug, 2024</div>
    </div>
    <div class="col"></div>
</div>

{% endblock %}